.hero-description {
    font-size: 28px; 
    line-height: 170%;
    font-size: 25px;
}

.footer-text {
    font-size: 25px;
}

.bg-app-grey {
    background: #e8e8e8;
}

.btn-outline-primary:hover:focus {
    color: white!important;
    text-decoration: none;
  }