<div class="container pb-5">
    <div class="row">
        <div class="col-7">
        <p class="lead text-left" style="font-size: 23px; line-height: 170%;"><strong>Energetic, resourceful, and results-driven
            <strong>technology professional</strong> with exceptional
            qualifications to support software
            development projects requiring excellent
            design, coding, analysis, problem solving,
            and implementation skills. Adept at working
            effectively both independently and as part of
            a team in demanding and deadline-driven
            environments to complete complex
            projects, produce significant contributions,
            and accomplish objectives.</strong></p>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <em>
                        Areas of Expertise
                        <hr class="w-25"/>
                    </em>
                </div>
            </div>
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-9">
                        <p class="lead"><strong>Application Development & SDLC</strong></p>
                        <p class="lead"><strong>Developer Lead, Mentor, Coach</strong></p>
                        <p class="lead"><strong>Enterprise Architecture & Design Patterns</strong></p>
                        <p class="lead"><strong>Clear Effective Communication</strong></p>
                        <p class="lead"><strong>Project Management & Priority Setting</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-2">
                <div class="row">
                    <em>
                        Recent Projects
                        <hr class="w-25"/>
                    </em>
                </div>
            </div>
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-9">
                        <p class="lead"><strong>Migration of ESB Monolithic Application to Microservice Architecture</strong></p>
                        <p class="lead"><strong>Full Stack Delivery of Modernized <a href="https://cignaforbrokers.com">Cigna&reg; Broker Portal</a></strong></p>
                        <p class="lead"><strong>Implementation of Numerous Client Initiatives</strong></p>
                        <p class="lead"><strong>Frontend Domain and Workflow Management & Reporting Application</strong></p>
                        <p class="lead"><strong>This Website!</strong></p>
                </div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-2">
                <div class="row">
                    <em>
                        Technical Competencies
                        <hr class="w-25"/>
                    </em>
                </div>
            </div>
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-9">
                        <p class="lead"><strong>Languages & Frameworks: Java / Node / Python / Spring / Spring Boot</strong></p>
                        <p class="lead"><strong>Frontend: Angular / React / Material / Bootstrap / HTML / CSS / JS / JQUERY</strong></p>
                        <p class="lead"><strong>Databases: Oracle SQL / Postgres SQL / MongoDB / DynamoDB</strong></p>
                </div></div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
            <p class="lead text-center" style="font-size: 25px; line-height: 170%;"><strong>
                If you want to learn more <a href="#">download my resume</a> or <a href="#">contact me.</a>
            </strong></p>
            </div>
        </div>
    </div>
</div>