<div class="container">
<div class="row justify-content-end g-0 sticky-top">
    <div class="col-md-11" style="padding-top: 10px;">
        <h6 class="lead" style="letter-spacing: 3px;"><strong><strong>THURMAN JUSTICE</strong></strong></h6>
    </div>
    <div class="col col-sm-1">
        <div class="row ">
        <div placement="left-top" ngbDropdown>
            <button class="btn text-nowrap shadow-none pt-1" ngbDropdownToggle><i style="font-size: 1.5rem;" class="bi-justify"></i></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="active nav-button" ngbDropdownItem>Home</button>
                <button class="nav-button" ngbDropdownItem>About</button>
                <button class="nav-button" ngbDropdownItem>Download Resume</button>
                <button class="nav-button" ngbDropdownItem>Contact</button>
            </div>
        </div>
    </div>
    </div>
</div>
<hr/>
</div>