<div class="row justify-content-end g-0 sticky-top">
    <div class="col-md-1">
        <div placement="left-top" ngbDropdown>
        <button class="btn text-nowrap shadow-none" ngbDropdownToggle><i style="font-size: 1.5rem;" class="bi-justify"></i></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem>One</button>
          <button ngbDropdownItem>Two</button>
          <button ngbDropdownItem>Four!</button>
        </div>
        </div>
    </div>
  </div>