<div class="container">
    <div class="row justify-content-center">
        <h5 class="text-center">Select your Email Client</h5>
        <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item text-center"><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=thurman.justice@gmail.com" target="_blank">Gmail</a></li>
            <li class="list-group-item"><a href="https://outlook.office.com/?path=/mail/action/compose&to=thurman.justice@gmail.com">Outlook</a></li>
            <li class="list-group-item"><a href="mailto:thurman.justice@gmail.com">Local Email Client</a></li>
        </ul>
    </div>
    </div>
</div>
